* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: snow;
}


.main-header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 40px;
}

.name {
    text-align: left;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: white;
}

.name-large {
    font-size: 4em;
}

.content-section {
    margin: 10em;
}

.container {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 0 2em;
}
.section-header {
    font-family: Raleway;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;

}

.footer-container {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 2px;
}

.main-footer {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 20px;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {
    font-size: 1.2em;
    font color: black;
    background-color: white;
    text-align: center;
    margin:10px;
    border: 4px;
    border-style: solid;
    border-color: gray;
    padding-top: : 0em;
    margin-bottom: 5em;

}

.row>img
{
    width: 100%;
}

.signin{
    background-color: rgba(0, 0, 0, .4);
    background-image: url("Images/button-background.jpg");
    position: absolute;
    top: 30px;
    right: 50px;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    border-color: gray;
}
.left-column{
    position: fixed;
    height: 100%;
    left: 10px;
    top: 40px;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filters{

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.add{
    position: fixed;
    height: 70px;
    right: 10px;
    top: 40%;
    width: 120px;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    background-color: white;
    color: black;
}

.information {
    display: block;
    font-size: 1.2em;
    font color: black;
    background-color: white;
    text-align: left;
    margin:10px;    
    margin-bottom: -0.2em;

}
.btn {
    text-align: center;
    vertical-align: center;
    padding: .67em .67em;
    cursor: pointer;
     margin-bottom: 0em;
     display: block;

}

.btn-primary {
    background-color: white;
    border: none;
    border-radius: 1em;
    font-weight: bold;
}

.tour-row {
    border-bottom: 2px solid gray;
    padding-bottom: 0em;
    margin-bottom: 0em;
}
.tour-row:last-child {
    border: none;
}

.button-more{
    width : 100%;
    height : 70px;
    background-color : snow;
    border-color: snow;
     font-size: 1.5em;
    color:black;
}

.elements {
    height: 60px;
    margin-bottom: 15px;
}

.like
{
    max-width:100%;
    height:auto;
    margin-top: 5px;
    margin-left: 2%;
    float: left;
}

.setting
{
    max-width:100%;
    height:auto;
    margin-top: 5px;
    margin-left: 2%;
    float: left;
}

.delete
{
    max-width:100%;
    height:auto;
    float: right;
    margin-top: 5px;
    margin-right: 3%;
}

.user{
    text-align: center;
    margin-top: -57px;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: normal;
    color: white;
    border-color: gray;
}

.searchbutton {
    left: 0px;
    width: 120px;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    background-color: white;
    color: black;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: white;
    margin: 5% auto;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}


.signLogo{
    text-align: center;
    margin: 1vw auto;
    width: 15vw;
}

.alignLogo{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#signInPhrase{
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 2vw;
}

.filterField {
    display: flex;
    margin: auto;
    background-color: white;
    border-color: black;
    border-width: thin;
    white-space: nowrap;
    height: 100%;
    font-size: 1.2vw;
    padding: 0.5% 1%;
    width: 17%;
}

.filterField{
    font-size: 2vw;
    width: 28%;
}

.filterField{
    font-size: 3vw;
    width: 90%;
    margin: 3% 2%;
    border-width: thin;
}

.buttonStyle{
    background-color: white;
    white-space: nowrap;
    margin: 4%;
    height: 100%;
    font-size: 3vw;
    font-weight: bold;
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.deleteWarning {
    font-size: 2.5vw;
}

.closeButton{
    background-color: white;
    white-space: nowrap;
    margin: 4%;
    height: 100%;
    font-size: 3vw;
    font-weight: bold;
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.descrArea{
    font-size: 2vw;
}
